checkpoints/teamace_mora/mk7/10000/train_state/
checkpoints/teamace_mora/mk7/10000/train_state/**

.venv/
venv/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.gitignore
.vscode/
.idea/
*.swp
.DS_Store
*.log